header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}

section {
  text-align: center;
  padding: 10px;
}

div {
  text-align: center;
  padding: 10px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}